<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title>Nutron</title>
    <link href="http://github.com/stylesheets/bundle_common.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="http://github.com/stylesheets/bundle_github.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/screen.css" media="screen" rel="stylesheet" type="text/css" />
  </head>
  <body>

	<p><a href="http://github.com/itfrombit/Nutron"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub" /></a></p>
	
    <div id="main">
      <div id="header" class="basic" style="margin-bottom:20px">
		<h1>Nutron</h1>
      </div>

      <div id="content" class="site">

        {{ content }}

      </div>

      <div class="push"></div>
    </div>

    <div id="footer">
      <div class="site">
        <div class="info">
          <div class="links">
            <a href="http://github.com/itfrombit/nutron"><b>Nutron</b></a> |
            <a href="http://programming.nu">Nu</a> |
            <a href="http://twitter.com/itfrombit">Twitter</a>
          </div>
          <div class="company">
           &copy;
            {{ site.time | date: "%Y" }}
            Jeff Buck
            All rights reserved.
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
